<p>product-details works!</p>

<div class= "botonBack">

    <!-- Usando los botones con p-button luego no nos permit cambiar los estilos del boton, en cambio con button a secas si como se ve en el id test -->
    <!-- <p-button icon="pi pi-user" class= "ui-button-rounded ui-button-success" label="Back to main" [routerLink]="['']"></p-button> -->
    <button pButton type="button" label="Success" class="ui-button-rounded ui-button-success"></button>
    <button icon="pi pi-user" id="test"  [routerLink]="['']" pButton type="button" label="Back to main" class="ui-button-rounded ui-button-success"></button>


</div>
