.logoutButton{

margin-left: 900px;
background-color: coral;
width: 300px;
height: fit-content;

}

.forma {
    width: 5rem;  
    height: 2rem;
    font-size: 14px;
    color:white;
    background-color: blue;
    border-radius: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   margin-left: 30px;
   margin-bottom: 20px;
  }